<p style="text-align:center">
    <a href="https://skills.network" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo">
    </a>
</p>

<h1 align=center><font size = 5>Assignment: SQL Notebook for Peer Assignment</font></h1>

Estimated time needed: **60** minutes.

## Introduction
Using this Python notebook you will:

1.  Understand the Spacex DataSet
2.  Load the dataset  into the corresponding table in a Db2 database
3.  Execute SQL queries to answer assignment questions

## Overview of the DataSet

SpaceX has gained worldwide attention for a series of historic milestones.

It is the only private company ever to return a spacecraft from low-earth orbit, which it first accomplished in December 2010.
SpaceX advertises Falcon 9 rocket launches on its website with a cost of 62 million dollars wheras other providers cost upward of 165 million dollars each, much of the savings is because Space X can reuse the first stage.


Therefore if we can determine if the first stage will land, we can determine the cost of a launch.

This information can be used if an alternate company wants to bid against SpaceX for a rocket launch.

This dataset includes a record for each payload carried during a SpaceX mission into outer space.

### Download the datasets

This assignment requires you to load the spacex dataset.

In many cases the dataset to be analyzed is available as a .CSV (comma separated values) file, perhaps on the internet. Click on the link below to download and save the dataset (.CSV file):

 <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/data/Spacex.csv" target="_blank">Spacex DataSet</a>

In [1]:
!pip install sqlalchemy==1.3.9

Collecting sqlalchemy==1.3.9
  Downloading SQLAlchemy-1.3.9.tar.gz (6.0 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 6.0/6.0 MB 9.5 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Building wheels for collected packages: sqlalchemy
  Building wheel for sqlalchemy (setup.py) ... done
  Created wheel for sqlalchemy: filename=SQLAlchemy-1.3.9-cp310-cp310-linux_x86_64.whl size=1192336 sha256=daaeb37d67cf7400eedd948cc0fb2444a2ac27d35dfc0968df4a6c83512910a2
  Stored in directory: /root/.cache/pip/wheels/8b/6d/9c/e1793e5a2d85b89b8c362a4f0e3def54b786bcd14923b9ff00
Successfully built sqlalchemy
Installing collected packages: sqlalchemy
  Attempting uninstall: sqlalchemy
    Found existing installation: SQLAlchemy 2.0.30
    Uninstalling SQLAlchemy-2.0.30:
      Successfully uninstalled SQLAlchemy-2.0.30
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
bigframes 1.8.0 requires sqlalchemy<3.0dev,>=1.4, but you have sqlalchemy 1.3.9 which is incompatible.
ipython-sql 0.5.0 requires sqlalchemy>=2.0, but you have sqlalchemy 1.3.9 which is incompatible.
Successfully installed sqlalchemy-1.3.9

### Connect to the database

Let us first load the SQL extension and establish a connection with the database

In [2]:
#Please uncomment and execute the code below if you are working locally.

#!pip install ipython-sql

In [3]:
%load_ext sql

In [4]:
import csv, sqlite3

con = sqlite3.connect("my_data1.db")
cur = con.cursor()

In [5]:
!pip install -q pandas==1.1.5

     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 5.2/5.2 MB 14.6 MB/s eta 0:00:00
  Installing build dependencies ... done
  Getting requirements to build wheel ... done
  Preparing metadata (pyproject.toml) ... done
  error: subprocess-exited-with-error

  × Building wheel for pandas (pyproject.toml) did not run successfully.
  │ exit code: 1
  ╰─> See above for output.

  note: This error originates from a subprocess, and is likely not a problem with pip.
  Building wheel for pandas (pyproject.toml) ... error
  ERROR: Failed building wheel for pandas
ERROR: Could not build wheels for pandas, which is required to install pyproject.toml-based projects

In [6]:
%sql sqlite:///my_data1.db

Traceback (most recent call last):
  File "/usr/local/lib/python3.10/dist-packages/sql/magic.py", line 203, in execute
    conn.internal_connection.rollback()
AttributeError: 'Connection' object has no attribute 'rollback'

Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys(['sqlite:///my_data1.db'])

In [7]:
import pandas as pd
df = pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/data/Spacex.csv")
df.to_sql("SPACEXTBL", con, if_exists='replace', index=False,method="multi")

101

**Note:This below code is added to remove blank rows from table**

In [8]:
%sql create table SPACEXTABLE as select * from SPACEXTBL where Date is not null

 * sqlite:///my_data1.db
Traceback (most recent call last):
  File "/usr/local/lib/python3.10/dist-packages/sql/magic.py", line 203, in execute
    conn.internal_connection.rollback()
AttributeError: 'Connection' object has no attribute 'rollback'

Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys(['sqlite:///my_data1.db'])

## Tasks

Now write and execute SQL queries to solve the assignment tasks.

**Note: If the column names are in mixed case enclose it in double quotes
   For Example "Landing_Outcome"**

### Task 1




##### Display the names of the unique launch sites  in the space mission

In [9]:
# Consulta SQL para obter os nomes únicos dos locais de lançamento
query = """
        SELECT DISTINCT Launch_Site
        FROM SPACEXTBL;
        """

# Executar a consulta SQL
cur.execute(query)

# Obter todos os resultados da consulta
query1 = cur.fetchall()

# resultados
print(query1)

[('CCAFS LC-40',), ('VAFB SLC-4E',), ('KSC LC-39A',), ('CCAFS SLC-40',)]


### Task 2


#####  Display 5 records where launch sites begin with the string 'CCA'

In [10]:
# Consulta SQL para selecionar os registros
query = """
        SELECT *
        FROM SPACEXTBL
        WHERE Launch_Site LIKE 'CCA%'
        LIMIT 5;
        """

# Executar a consulta SQL
cur.execute(query)

# Obter todos os resultados da consulta
query2 = cur.fetchall()

# resultados
print(query2)

[('2010-06-04', '18:45:00', 'F9 v1.0  B0003', 'CCAFS LC-40', 'Dragon Spacecraft Qualification Unit', 0, 'LEO', 'SpaceX', 'Success', 'Failure (parachute)'), ('2010-12-08', '15:43:00', 'F9 v1.0  B0004', 'CCAFS LC-40', 'Dragon demo flight C1, two CubeSats, barrel of Brouere cheese', 0, 'LEO (ISS)', 'NASA (COTS) NRO', 'Success', 'Failure (parachute)'), ('2012-05-22', '7:44:00', 'F9 v1.0  B0005', 'CCAFS LC-40', 'Dragon demo flight C2', 525, 'LEO (ISS)', 'NASA (COTS)', 'Success', 'No attempt'), ('2012-10-08', '0:35:00', 'F9 v1.0  B0006', 'CCAFS LC-40', 'SpaceX CRS-1', 500, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'No attempt'), ('2013-03-01', '15:10:00', 'F9 v1.0  B0007', 'CCAFS LC-40', 'SpaceX CRS-2', 677, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'No attempt')]

### Task 3




##### Display the total payload mass carried by boosters launched by NASA (CRS)

In [11]:
# Consulta SQL para calcular a massa total da carga útil transportada por lançadores da NASA (CRS)
query_task3 = """
              SELECT SUM(PAYLOAD_MASS__KG_)
              FROM SPACEXTBL
              WHERE Customer LIKE '%NASA (CRS)%';
              """

# Executar a consulta SQL
cur.execute(query_task3)

# Obter o resultado da consulta
total_payload_mass = cur.fetchone()[0]

# Exibir o total da massa da carga útil
print(f"Total da massa da carga útil transportada por lançadores da NASA (CRS): {total_payload_mass} kg")

Total da massa da carga útil transportada por lançadores da NASA (CRS): 48213 kg

### Task 4




##### Display average payload mass carried by booster version F9 v1.1

In [12]:
# Consulta SQL para calcular a média da massa da carga útil transportada pela versão do booster F9 v1.1
query_task4 = """
              SELECT AVG(PAYLOAD_MASS__KG_)
              FROM SPACEXTBL
              WHERE Booster_Version = 'F9 v1.1';
              """

# Executar a consulta SQL
cur.execute(query_task4)

# Obter o resultado da consulta
avg_payload_mass = cur.fetchone()[0]

# Exibir a média da massa da carga útil
print(f"Média da massa da carga útil transportada pela versão do booster F9 v1.1: {avg_payload_mass} kg")

Média da massa da carga útil transportada pela versão do booster F9 v1.1: 2928.4 kg

### Task 5

##### List the date when the first succesful landing outcome in ground pad was acheived.


_Hint:Use min function_

In [13]:
# Consulta SQL para encontrar a data do primeiro pouso bem-sucedido em ground pad
query_task5 = """
              SELECT MIN(Date)
              FROM SPACEXTBL
              WHERE Landing_Outcome LIKE '%Success (ground pad)%';
              """

# Executar a consulta SQL
cur.execute(query_task5)

# Obter o resultado da consulta
first_successful_landing_date = cur.fetchone()[0]

# Exibir a data do primeiro pouso bem-sucedido em ground pad
print(f"Data do primeiro pouso bem-sucedido em ground pad: {first_successful_landing_date}")

Data do primeiro pouso bem-sucedido em ground pad: 2015-12-22

### Task 6

##### List the names of the boosters which have success in drone ship and have payload mass greater than 4000 but less than 6000

In [14]:
# Consulta SQL para encontrar os nomes dos boosters que tiveram sucesso no drone ship
# e têm payload mass entre 4000 e 6000
query_task6 = """
              SELECT Booster_Version
              FROM SPACEXTBL
              WHERE Landing_Outcome LIKE '%Success (drone ship)%'
              AND PAYLOAD_MASS__KG_ > 4000
              AND PAYLOAD_MASS__KG_ < 6000;
              """

# Executar a consulta SQL
cur.execute(query_task6)

# Obter todos os resultados da consulta
boosters_with_success = cur.fetchall()

# Exibir os nomes dos boosters
print("Boosters com sucesso no drone ship e payload mass entre 4000 e 6000:")
for booster in boosters_with_success:
    print(booster[0])

Boosters com sucesso no drone ship e payload mass entre 4000 e 6000:
F9 FT B1022
F9 FT B1026
F9 FT  B1021.2
F9 FT  B1031.2

### Task 7




##### List the total number of successful and failure mission outcomes

In [15]:
# Consulta SQL para contar o número de missões bem-sucedidas
query_successful = """
                    SELECT COUNT(*)
                    FROM SPACEXTBL
                    WHERE Mission_Outcome LIKE '%Success%';
                    """

# Executar a consulta SQL para missões bem-sucedidas
cur.execute(query_successful)
successful_count = cur.fetchone()[0]  # Obter o resultado e pegar o valor do contador

# Consulta SQL para contar o número de missões com falha
query_failure = """
                 SELECT COUNT(*)
                 FROM SPACEXTBL
                 WHERE Mission_Outcome NOT LIKE '%Success%';
                 """

# Executar a consulta SQL para missões com falha
cur.execute(query_failure)
failure_count = cur.fetchone()[0]  # Obter o resultado e pegar o valor do contador

# Exibir os resultados
print(f"Total de missões bem-sucedidas: {successful_count}")
print(f"Total de missões com falha: {failure_count}")

Total de missões bem-sucedidas: 100
Total de missões com falha: 1

### Task 8



##### List the   names of the booster_versions which have carried the maximum payload mass. Use a subquery

In [16]:
# Consulta SQL para obter o máximo de Payload Mass
query_max_payload = """
                    SELECT MAX(PAYLOAD_MASS__KG_) AS max_payload
                    FROM SPACEXTBL;
                    """

# Executar a consulta para obter o máximo de Payload Mass
cur.execute(query_max_payload)
max_payload = cur.fetchone()[0]  # Obter o valor máximo de Payload Mass

# Consulta SQL com subconsulta para obter as booster_versions com o máximo de Payload Mass
query_booster_versions = f"""
                          SELECT Booster_Version
                          FROM SPACEXTBL
                          WHERE PAYLOAD_MASS__KG_ = (
                              SELECT MAX(PAYLOAD_MASS__KG_)
                              FROM SPACEXTBL
                          );
                          """

# Executar a consulta para obter as booster_versions com o máximo de Payload Mass
cur.execute(query_booster_versions)
booster_versions = cur.fetchall()

# Exibir os resultados
print(f"Booster Versions que carregaram o máximo de Payload Mass ({max_payload} kg):")
for version in booster_versions:
    print(version[0])

Booster Versions que carregaram o máximo de Payload Mass (15600 kg):
F9 B5 B1048.4
F9 B5 B1049.4
F9 B5 B1051.3
F9 B5 B1056.4
F9 B5 B1048.5
F9 B5 B1051.4
F9 B5 B1049.5
F9 B5 B1060.2
F9 B5 B1058.3
F9 B5 B1051.6
F9 B5 B1060.3
F9 B5 B1049.7

### Task 9


##### List the records which will display the month names, failure landing_outcomes in drone ship ,booster versions, launch_site for the months in year 2015.

**Note: SQLLite does not support monthnames. So you need to use  substr(Date, 6,2) as month to get the months and substr(Date,0,5)='2015' for year.**

In [17]:
# Consulta SQL para listar os registros
query_records = """
                SELECT substr(Date, 6, 2) AS month,
                       "Landing_Outcome",
                       "Booster_Version",
                       "Launch_Site"
                FROM SPACEXTBL
                WHERE substr(Date, 0, 5) = '2015'
                      AND "Landing_Outcome" LIKE '%Failure (drone ship)%'
                ORDER BY month;
                """

# Executar a consulta para obter os registros
cur.execute(query_records)
records = cur.fetchall()

# Exibir os resultados
print("Registros para os meses do ano de 2015 com falhas de pouso no drone ship:")
for record in records:
    print(f"Month: {record[0]}, Landing Outcome: {record[1]}, Booster Version: {record[2]}, Launch Site: {record[3]}")

Registros para os meses do ano de 2015 com falhas de pouso no drone ship:
Month: 01, Landing Outcome: Failure (drone ship), Booster Version: F9 v1.1 B1012, Launch Site: CCAFS LC-40
Month: 04, Landing Outcome: Failure (drone ship), Booster Version: F9 v1.1 B1015, Launch Site: CCAFS LC-40

### Task 10




##### Rank the count of landing outcomes (such as Failure (drone ship) or Success (ground pad)) between the date 2010-06-04 and 2017-03-20, in descending order.

In [18]:
# Consulta SQL para contar e classificar os outcomes de pouso
query_rank_outcomes = """
                      SELECT "Landing_Outcome",
                             COUNT("Landing_Outcome") AS outcome_count
                      FROM SPACEXTBL
                      WHERE Date BETWEEN '2010-06-04' AND '2017-03-20'
                      GROUP BY "Landing_Outcome"
                      ORDER BY outcome_count DESC;
                      """

# Executar a consulta para obter o ranking dos outcomes de pouso
cur.execute(query_rank_outcomes)
ranked_outcomes = cur.fetchall()

# Exibir os resultados
print("Ranking de Landing Outcomes entre 2010-06-04 e 2017-03-20:")
for rank, outcome in enumerate(ranked_outcomes, start=1):
    print(f"{rank}. Outcome: {outcome[0]}, Count: {outcome[1]}")

Ranking de Landing Outcomes entre 2010-06-04 e 2017-03-20:
1. Outcome: No attempt, Count: 10
2. Outcome: Success (drone ship), Count: 5
3. Outcome: Failure (drone ship), Count: 5
4. Outcome: Success (ground pad), Count: 3
5. Outcome: Controlled (ocean), Count: 3
6. Outcome: Uncontrolled (ocean), Count: 2
7. Outcome: Failure (parachute), Count: 2
8. Outcome: Precluded (drone ship), Count: 1

### Reference Links

* <a href ="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20String%20Patterns%20-%20Sorting%20-%20Grouping/instructional-labs.md.html?origin=www.coursera.org">Hands-on Lab : String Patterns, Sorting and Grouping</a>  

*  <a  href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Built-in%20functions%20/Hands-on_Lab__Built-in_Functions.md.html?origin=www.coursera.org">Hands-on Lab: Built-in functions</a>

*  <a  href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Sub-queries%20and%20Nested%20SELECTs%20/instructional-labs.md.html?origin=www.coursera.org">Hands-on Lab : Sub-queries and Nested SELECT Statements</a>

*   <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Module%205/DB0201EN-Week3-1-3-SQLmagic.ipynb">Hands-on Tutorial: Accessing Databases with SQL magic</a>

*  <a href= "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Module%205/DB0201EN-Week3-1-4-Analyzing.ipynb">Hands-on Lab: Analyzing a real World Data Set</a>

## Author(s)

<h4> Lakshmi Holla </h4>

## Other Contributors

<h4> Rav Ahuja </h4>

## Change log
| Date | Version | Changed by | Change Description |
|------|--------|--------|---------|
| 2021-07-09 | 0.2 |Lakshmi Holla | Changes made in magic sql|
| 2021-05-20 | 0.1 |Lakshmi Holla | Created Initial Version |

## <h3 align="center"> © IBM Corporation 2021. All rights reserved. <h3/>